<div class="[ card ] [ background-white text-align-center br-2 ]">
    <img class="[ card__image ]"
         src="../assets/illustration-hero.svg"
         alt="">
    <div class="[ card__content ] [ padding-48 ] [ grid-flow ]">
        <h2>Order Summary</h2>
        <p>You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</p>
        <div class="[ plan ] [ flex-row ] [ background-subdued text-align-start br-1 padding-24 ]">
            <div class="plan__image">
                <img src="../assets/icon-music.svg"
                     alt="">
            </div>
            <div>
                <p class="[ text-dark font-weight-extra-bold ]">Annual Plan</p>
                <p>$59.99/year</p>
            </div>
            <button class="[ link ] [ push-right ]">Change</button>
        </div>
        <button class="[ button ]"
                data-type="primary">
            Proceed to Payment
        </button>
        <button class="[ button ]"
                data-type="secondary">
            Cancel Order
        </button>
    </div>
</div>