@import 'reset/main.scss';

html,
body {
  height: 100dvh;
  width: 100dvw;

  --base-font-size: 10px;
}

html {
  font-size: var(--base-font-size);
}

/* Font */
// Font-family gets inherited from body by all elements
body {
  font-family: 'Roboto', sans-serif;
}
